@import "@styles/variables.scss";

.button-standard-pressed {
  background: $primary-color;
  color: $text-white-color;

  font-size: 3vh;
  font-family: $sans-serif;
  font-weight: bold;

  margin: $desktop-padding-space;
  padding: 15px;
  box-sizing: border-box;

  border: 2px solid $border-color;
  border-radius: 10px;

  box-shadow: inset 0 0 8px $black;

  user-select: none;

  position: relative;

  .help-text {
    color: rgba(255,255,255, .7);
    font-size: 1.5vh;
    position: absolute;
    bottom: 5px;
    right: 10px
  }
}