@import "@styles/variables.scss";

.button-big {
  background: $tertiary-color;
  color: $text-black-color;

  font-size: 3vh;
  font-family: $sans-serif;
  font-weight: bold;

  margin: $desktop-padding-space;
  padding: 3.5vh;
  box-sizing: border-box;

  border: 2px solid $border-color;
  border-radius: 10px;

  user-select: none;
}

.button-big:hover {
  background: $primary-color;
  color: $text-white-color;

  cursor: pointer;
}

.inversion {
  background: $white;
}

.inversion:hover {
  background: $secondary-color;
  color: $text-black-color;
  border: 2px solid $white;
}
