// стили используемые для
// компоненты Workstation
// находятся в Employees/Employees.scss

.add-input {
  width: 30vw;
}

.update-ws {
  font-size: 2.5vh;
  text-align: left;

  h2 {
    margin: 2vh 0;
  }
}
